<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/sidebar-nav.min.css" rel="stylesheet" />
    <link href="~/Content/Css/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <link href="~/Content/Css/css-chart.css" rel="stylesheet" />
    <link href="~/Content/Css/animate.css" rel="stylesheet" />
    <link href="~/Content/Css/style.css" rel="stylesheet" />
    <link href="~/Content/Css/blue.css" rel="stylesheet" />
    <link href="~/Content/Css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/Css/sweetalert2.min.css" rel="stylesheet" />
    <style>
        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>

    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part">
                    <a class="logo" href="index.html">
                        <b>
                            <img src="~/Content/Img/YSK.png" />
                        </b>
                        <span class="hidden-xs">
                            e-Seçim
                        </span>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>

                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">

                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="~/Content/Img/User_Avatar.png" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">@Request.Cookies["kullanici"]["KullaniciAdi"]</b> </a>
                        <ul class="dropdown-menu dropdown-user animated flipInY">

                            <li><a href="@Url.Action("CikisYap", "Giris")"><i class="fa fa-power-off"></i> Çıkış Yap</a></li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>

                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                        <!-- input-group -->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li class="user-pro">
                        <a href="#" class="waves-effect"><img src="~/Content/Img/User_Avatar.png" alt="user-img" class="img-circle"> <span class="hide-menu">@Request.Cookies["kullanici"]["KullaniciAdi"] @Request.Cookies["kullanici"]["KullaniciSoyadi"]<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">

                            <li><a href="@Url.Action("CikisYap", "Giris")"><i class="fa fa-power-off"></i> Çıkış Yap</a></li>
                        </ul>
                    </li>
                    <li class="nav-small-cap m-t-10">->Ana Menü</li>
                    <li>
                        <a href="inbox.html" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i>Oy Kullanma Sayfası</a>
                        <ul class="nav nav-second-level">
                            <li><a href="@Url.Action("Index","OyKullan")">E-Seçim Nedir?</a></li>
                            <li><a href="@Url.Action("Ekle","OyKullan")">Oy Kullan</a></li>
                            @*<li><a href="@Url.Action("Ekle","Secim")">Ekle</a></li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Seçimler <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="@Url.Action("Index","Secim")">Listele</a></li>
                            <li><a href="@Url.Action("Ekle","Secim")">Ekle</a></li>
                            @*<li><a href="@Url.Action("Ekle","Secim")">Ekle</a></li>*@
                        </ul>
                    </li>


                    <!--<li>
                        <a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Seç <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="@Url.Action("Index","Sec")">Listele</a></li>
                            <li><a href="@Url.Action("Ekle","Sec")">Ekle</a></li>-->
                            @*<li><a href="@Url.Action("Ekle","Secim")">Ekle</a></li>*@
                        <!--</ul>
                    </li>-->


                    <li>
                        <a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Adaylar <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="@Url.Action("Index","Aday")">Listele</a></li>
                            <li><a href="@Url.Action("Ekle","Aday")">Ekle</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Kampanyalar <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="@Url.Action("Index","Kampanya")">Listele</a></li>
                            <li><a href="@Url.Action("Ekle","Kampanya")">Ekle</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Kullanıcılar <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="@Url.Action("Index","Kullanici")">Listele</a></li>
                            <li><a href="@Url.Action("Ekle","Kullanici")">Ekle</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i>Kullanıcı İşlemleri</a>

                    </li>
                </ul>
            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">@ViewBag.Title</h4>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row white-box">
                    @RenderBody()
                </div>
                
            </div>
            <!-- /#page-wrapper -->
        </div>

        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/sidebar-nav.min.js"></script>
        <script src="~/Scripts/jquery.slimscroll.js"></script>
        <script src="~/Scripts/waves.js"></script>
        <script src="~/Scripts/jquery.flot.js"></script>
        <script src="~/Scripts/jquery.flot.tooltip.min.js"></script>
        <script src="~/Scripts/jquery-jvectormap-2.0.2.min.js"></script>
        <script src="~/Scripts/jquery-jvectormap-world-mill-en.js"></script>
        <script src="~/Scripts/jquery.sparkline.min.js"></script>
        <script src="~/Scripts/jquery.easypiechart.min.js"></script>
        <script src="~/Scripts/easy-pie-chart.init.js"></script>
        <script src="~/Scripts/custom.js"></script>
        <script src="~/Scripts/dashboard2.js"></script>
        <script src="~/Scripts/jQuery.style.switcher.js"></script>
        <script src="~/Scripts/jquery.dataTables.min.js"></script>

        <script>
            new DataTable('#example', {
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            let column = this;
                            let title = column.footer().textContent;

                            // Create input element
                            let input = document.createElement('input');
                            input.placeholder = title;
                            column.footer().replaceChildren(input);

                            // Event listener for user input
                            input.addEventListener('keyup', () => {
                                if (column.search() !== this.value) {
                                    column.search(input.value).draw();
                                }
                            });
                        });
                }
            });
        </script>
        <script src="~/Scripts/sweetalert2.min.js"></script>
        <script src="~/Scripts/Main.js"></script>
    </div>
</body>
</html>
